[Unit]
Description=Gunicorn instance for Rental Property Tracker
After=network.target

[Service]
User=smashimo
Group=www-data
WorkingDirectory=/home/smashimo/rental_prop
Environment="PATH=/home/smashimo/miniconda3/envs/rental_prop_env/bin"
ExecStart=/home/smashimo/miniconda3/envs/rental_prop_env/bin/gunicorn --workers 4 --bind 0.0.0.0:6000 app:app

[Install]
WantedBy=multi-user.target
